<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">vaishali</div>
        <div class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <a>Alok</a>
                </li>
                <li>
                    <a>Services</a>
                </li>
                <li>
                    <a>Partners</a>
                </li>
                <li>
                    <a>Contacts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
